{% load widget_tweaks %}
<style type="text/css">
.help-block{
    color: #a94442
}
</style>
<div class ="modal-body  details-body">
    <form id="frmdocument" action="/attachment/document_save/" method="POST" role="form" class="form-horizontal ng-pristine ng-valid">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="form-group">
                    <label  for="id_title" class="control-label col-sm-1 required">Title</label>
                    <div class="col-sm-9">
                        <input class="form-control" id="id_title" name="title"  value="{{document_data.title}}" required  type="text"/>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4" style="display: none;">
              <div class="form-group">
                    <label for="id_description" class="control-label col-sm-1">Description</label>
                    <div class="col-sm-9"> 
                        <textarea class="form-control"  id="id_description"  name="description" type="text">{{document_data.description}}</textarea >
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="form-group">
                    <label  for="id_tag" class="control-label col-sm-1">Tag</label>
                    <div class="col-sm-9">
                        <input class="form-control" id="id_tag" name="tag" value="[{{base_attac_tag_obj}}]" type="text" style="height: auto;" />
                    </div>
                </div>
            </div>
            <div  class="col-md-12 col-sm-12">
                <label style="margin-bottom: 12px;" for="id_template" class="control-label heavy-label col-sm-4 required">Document content</label>
            </div>
            <div  class="col-md-12 col-sm-12">
                <textarea style="display: none;" class="form-control html_template" id="id_template" name="template" required="required">{{source_code|safe}}</textarea >
            </div>
        </div>

    </form>
</div>
<div class="modal-footer details-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true"  ng-click="onClose($event)" id="btnClose">Close</button>
    <button class="btn btn-primary" ng-click="saveDocument($event)" ng-disabled="btnDisabled" edit-mode="true">Save</button>
    <button id="idEditBtn" style="display: none;" class="btn btn-primary pull-right" ng-click="applyEditMode($event);" ng-disabled="btnDisabled" edit-mode="false">Edit</button>
</div>

 <script type="text/javascript">
  var available_height = $(document).height()-370
  // $('.template_preview_class').css('height', ($(document).height()-10)+'px');
  $('.html_template').summernote({height:available_height})
  $('.note-icon-picture').parent().hide()
  $('.note-icon-video').parent().hide()
 </script>
 <!-- <a class="icon-pencil-1 list-btn" ng-click="editDocument()"></a>\ -->